[Unit]
Description=Mount unit for gnome-characters
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_69.snap
Where=/snap/gnome-characters/69
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
