[Unit]
Description=Mount unit for gnome-logs
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-logs_25.snap
Where=/snap/gnome-logs/25
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
